.idea
.next
.nova
.vscode
node_modules/
package-lock.json
yarn.lock

# remix-run
.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js

# remix with postcss generated css
app/styles
.stylelintcache
